body {
  font-family: 'Sintony', sans-serif;
  color: #5c6369; }

.menu {
  display: block;
  padding: 0;
  margin: 0; }
  .menu__item {
    display: block;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 14px; }
    .menu__item a {
      color: #2c465a;
      text-transform: uppercase; }
