$body-text: #5c6369 
$menu-text: #2c465a //текст меню
$button-bg: #fea100 //оранжевый для кнопки и второго заголовка
$white: #fff
$h-color: #14141d //заголовки
$call-bg: #edf1f3 //серый фон
$border: #e1e1e1 //цвет границы
$footer-bg: #373844 //темно-синий фон
$footer-text: #93989e //серый текст

