body
	font-family: 'Sintony', sans-serif;
 color:#5c6369
 //font-family: 'Playfair Display SC', serif;
.menu
	display: block
	padding: 0
	margin: 0
	&__item
		display: block
		padding: 0
	 margin: 0
		font-weight: 700
		font-size: 14px
	 a
		 color:#2c465a
		 text-transform: uppercase
	
 